body{
    background-color: aquamarine;
}

.signupForm{
justify-self: center;
justify-content: center;
align-content: center;
align-self: center;
margin-top: 10%;
background-color: transparent;
border: 3px #000 solid;
border-radius: 20px;
padding: 60px;
height: 20rem;
width: 30%;
}

.formInputContainer{
    justify-content: center;
    align-items: center;
    display: block;
    width: 100%;
    margin-bottom: 20px ;
    font-size: 25px;
    line-height: 40px;
    font-weight: lighter;
}

.formInput{
    
}

.submitButton{
    background-color: #000;
    color: #fff;
    width: 50%;
    height: 2rem;
    font-size: 17px;
    border-radius: 29px;
    cursor: pointer;
}

.signupForm p{
    font-size: 20px;
    margin-top: 6rem ;
}

.signupForm a{
    color: #fff;
    text-decoration: none;
    background-color: #000;
    padding: 7px;
    border-radius: 10px;
}