body{
    margin: 0;
    padding: 0;
    background-color: #000;
    overflow: hidden;
}
.pageContainer a{
    color: #fff;
    text-decoration: none;
}
.pageContainer{
    display: flex;
    flex-direction: row;
    margin: 20px;
    padding: 10px;
    background-color: #000;
    color: #fff;
    height: 95vh;
}

.mainBody{
    flex-direction: row;
    flex: 1;
    background-color: #eeeeee;
    border-radius: 15px;
    color: #000;
    overflow-x: auto;
}

.mainHeader{
    background-color: #000;
    margin: 0;
    margin-top: 10px;
    height: 10rem;
    width: 80%;
    display: flex;
    color: #fff;
    justify-content: center;
    justify-self:center;
    align-items: center;
    align-self: center;
    border-radius: 30px;
    border: #e4e2e2 3px solid;
    
}

.mainHeader button{
    color: #fff;
    background-color:rgb(28, 28, 99) ;
}

.title{
    font-size: 50px;
    align-self: center;
    margin-left: 20px;
}

.js-modulesList{
    margin: 20px;
    padding: 20px;
}

.moduleCard{
    border: #636060 4px solid;
    color: #000;
    border-radius: 30px;
    margin: 25px;
    padding: 20px;
    width: 40%;
    justify-content: center;
    align-items: center;
}

.sideBar{
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    
}

.sideBar button{
    background: transparent;
    color: #f8dbdb;
    margin-top: 60px;
    height: 30px;
    font-size: 17px;
    border: none;
    align-content: center;
    justify-content: center;
    cursor: pointer;
}

.nav{
    display: flex;
    flex-direction: column;
    height: 75%;
}

.logout{
    margin-bottom:0px;
}

.nav .buttonOnclick{
    color: #fff;
    border-right: 4px solid #fff;
}
