body{
    margin: 0;
    padding: 0;
    background-color: #0f0f0f;
}
.pageContainer a{
    color: #fff;
    text-decoration: none;
}
.pageContainer{
    display: flex;
    flex-direction: row;
    margin: 20px;
    background-color: #0f0f0f;
    color: #fff;
    height: 95vh;
    overflow: hidden;
}

.sideBar{
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    
}

.sideBar button{
    background: transparent;
    color: #f8dbdb;
    margin-top: 60px;
    height: 30px;
    font-size: 17px;
    border: none;
    align-content: center;
    justify-content: center;
}

.sideBar a{
    color: #f8dbdb;
}

.nav{
    display: flex;
    flex-direction: column;
    height: 75%;
}

.mainBodyContainer{
    flex: 1;
    overflow: hidden;
}

.mainBody{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: cover;
    position: relative;
    padding-top: 20px;
    height: 100%;
    border-radius: 15px;
    color: #000;
    overflow-y: auto ;
    overflow-x: hidden;
}


.mainHeader{
    background-color: transparent;
    margin-top: 3rem;
    padding-top: 5rem;
    height: 10rem;
    display: flex;
    color: #fff;
    justify-content: flex-end;
    align-items: center;
    align-self: center;
    margin-left: 20px;
    
}

.mainHeader h1{
    font-size: 4rem;
    margin-left: 30px;
} 

.courseContent{
    color: #000;
    width: 100%;
    font-size: 20px;
    border-radius: 30px;
    justify-content: center;
    align-items: center;
    height: fit-content;
}

.pageButtons{
    background-color: #0f0f0f;
    position: fixed;
    bottom: 10px;
    margin-bottom: 10px;
    height: 5rem;
    width: 100%;
    display: flex;
    color: #fff;
    justify-content: center;
    align-items: center;
    align-self: center;
}

.pageButtons button{
    background-color: #0f0f0f;
    color: #fff;
    font-size: 20px;
    margin: 30px;
    padding: 10px 20px 10px 20px;
    border: #fff 3px solid;
    border-radius: 30px;
}

.courseSection{
    border-radius: 10px;
    background-color: #e4e2e2;
    color: #000;
    padding: 20px;
    margin-top: 9rem;
}