.body{
    display: flex;
}

.pageContainer{
    display: flex;
    height: 100vh;
}

.sidebar{
    margin: 20px;
    padding: 20px;
    height: auto;
    border-radius: 20px;
    background-color: #a8a7a7;
}

.main{
    margin: 20px;
    padding: 20px;
    height: auto;
    width: 1400px;
    border-radius: 20px;
    background-color: #585858;
    color: #ddd;
}

.courseCard{
    margin: 20px;
    padding: 20px;
    border-radius: 20px;
    border: 2px solid #ddd;
    cursor: pointer;
}