<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HTML Course page</title>
    <link rel="stylesheet" href="course-launch.css">
</head>
<body>
    <div class="pageContainer">
        <div class="sideBar">
            <div class="user">
                <h1>User</h1>
            </div>

            
            <nav class="nav">
                <button class="js-myLearning" >Learning</button>
                <button class=" js-courses js-buttons">Courses</button>
                <button class="js-challenges js-buttons">Challenges</button>
                <button class="js-settings js-buttons">Settings</button>
            </nav>
            <button class="logout">Logout</button>
        </div>
        <div class="mainBody">
            <header class="mainHeader">
                <button class="js-backButton">Back</button>
                <h1 class="js-pageTitle title"></h1>
                
            </header>

            <div  class="js-modulesList"></div>
        </div>
        
    </div>

    <script type="module" src="course-launch.js"></script>
    
       
</body>
</html>